@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --color-1: #90f3ff;
  --color-2: #afcbe3;
  --color-3: #c99ec4;
  --color-4: #ea5594;
  --color-5: #fe0072;
}

* {
  font-family: "Reddit Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--color-5);
}

h1 {
  font-size: 55px;
  padding-bottom: 55px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: var(--color-2);
}
body {
  overflow: hidden;
  height: 100vh;
}
main {
  overflow-y: auto;
}

.main-content {
  padding: 5px 20px;
}
.wrapper {
  display: flex;
  height: 100vh;
}

.header {
  margin: 0px auto;
}

.content {
  padding: 0px 30px;
  width: 80%;
  flex: 1;
}

.container {
  margin: 30px auto;
}

.temperature-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 30px auto;
}

.year {
  padding: 0px 2px;
}

.color1 {
  background-color: var(--color-1);
}

.color2 {
  background-color: var(--color-2);
}

.color3 {
  background-color: var(--color-3);
}

.color4 {
  background-color: var(--color-4);
}

.color5 {
  background-color: var(--color-5);
}

.temperature {
  border-radius: 50px;
  margin: 1px;
  width: 14px;
  height: 14px;
}

@media (min-width: 1155px) {
  .nav {
    flex: 1 0 33%;
  }
}

@media only screen and (max-width: 1154px) {
  .wrapper {
    flex-direction: column;
  }

  .nav {
    border-right: none !important;
    border-bottom: 1px solid var(--color-5);
  }

  h1 {
    font-size: 30px;
    padding: 30px 0px;
  }

  .summary-container {
    flex-wrap: wrap !important;
  }

  .summary-text {
    width: 100% !important;
  }
}
