@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Reddit Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.header {
  margin: 20px auto;
  width: 55%;
}

.container {
  margin: 30px auto;
  width: 55%;
}

.temperature-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 30px auto;
  width: 55%;
}

.year {
  padding: 0px 2px;
}

.color1 {
  background-color: #90f3ff;
}

.color2 {
  background-color: #afcbe3;
}

.color3 {
  background-color: #c99ec4;
}

.color4 {
  background-color: #ea5594;
}

.color5 {
  background-color: #fe0072;
}

.temperature {
  border-radius: 50px;
  margin: 1px;
  width: 14px;
  height: 14px;
}
